/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/*  Geral  */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    /* Footer height */
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Footer height */
    line-height: 60px;
    background-color: rgba(0, 0, 0, 90%);
}

#footer-content {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: orange;
    padding: 5px;
}

header h1 {
    color: white;
}

#logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

h2,
h3 {
    color: #FFA500;
    margin: 3px;
}

.row {
    padding: 6px 10px 6px 10px;
    margin-bottom: 5px;
}

#app-container {
    margin: 10px 15px 10px 15px;
    /* border: 1px solid grey; */
}

#meal-container {
    min-height: 200px;
}

ul,
ol {
    padding-left: 25px;
}

li {
    margin-left: 5px;
}

#actions-container {
    padding: 15px;
    margin-bottom: 25px;
}

div p {
    text-align: center;
}

#button-get-meal {
    border: 1px solid orange;
    background-color: orange;
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
}

#button-get-meal:hover {
    opacity: 0.8;
}

#meal-image {
    width: auto;
    max-height: 300px;
}

#heart-emoji {
    color: red;
}

#github-link {
    color: gray;
    text-decoration: none;
}

#github-link:hover {
    color: white;
    text-decoration: underline;
}


/*  Mobile  */

#meal-image {
    height: auto;
    max-width: 100%;
}

#button-get-meal {
    height: 45px;
}

h1 {
    font-size: x-large;
}


/* Destop     */

@media screen and (min-width: 700px) {
    #app-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* --- Responsive Youtube Embed ----- */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* 
    Button ripple from  https://ghinda.net/article/css-ripple-material-design/ 

 */

button {
    position: relative;
    overflow: hidden;
    padding: 16px 32px;
}

button:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #3f51b5;
    border-radius: 100%;
    opacity: .6;
    transform: scale(0);
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

button:not(:active):after {
    animation: ripple 1s ease-out;
}


/* fixes initial animation run, without user input, on page load.
   */

button:after {
    visibility: hidden;
}

button:focus:after {
    visibility: visible;
}